@model ProductCatalog.ViewModels.Products.ProductDetailsViewModel

<h2>Product Details</h2>

<table class="table table-bordered">

    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>

    <tr>
        <th>Price</th>
        <td>@Model.Price</td>
    </tr>

    <tr>
        <th>Stock</th>
        <td>@Model.Stock</td>
    </tr>

</table>

<a asp-action="Index"
   class="btn btn-secondary">
    Back
</a>